.t-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 0 3rem 0 3rem;
}

.t-heading > * {
  font-size: 2rem;
  font-weight: bold;
}

.t-heading span:nth-of-type(2) {
  color: var(--orange);
}

.t-blur1 {
  left: 38rem;
  top: 16rem;
}

.t-blur2 {
  top: 9rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  border: 5px dotted var(--orange);
  box-shadow: var(--boxshadow);
  border-radius: 20px;
}

.testimonial p {
  margin-top: 0px;
  font-size: 0.5rem;
}
.testimonial > img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.testimonial > span {
  color: var(--gray);
  font-size: 0.7rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--orange);
  font-size: 1.2rem;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem;
}

.t-wrapper .swiper {
  width: 100%;
  height: 70%;
}

.t-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
  background: var(--orange);
}

@media screen and (max-width: 480px) {
  .t-wrapper {
    padding: 0;
    transform: scale(0.8);
  }
  .testimonial {
    height: 16rem;
  }
  .testimonial > img {
    width: 70px;
  }
}
